.container {
  background-color: white;
  width: 100%;
  max-width: 330px;
  border-radius: 10px;
  margin: auto;
}

.outfit_name {
  padding: 1rem;
  text-decoration: underline;
}

.image {
  width: 100%;
  border-radius: 10px;
}
