.container {
  background-color: white;
  width: 100%;
  max-width: 330px;
  border-radius: 10px;
  margin: 1rem auto;
}

.outfit_name {
  padding: 1rem;
  text-decoration: underline;
}

.image_container {
  padding: 0 1rem 1rem;
  text-align: center;
}

.image {
  width: 70%;
  border-radius: 10px;
}
