.container {
  background-color: #fff;
  width: 90%;
  max-width: 330px;
  border-radius: 10px;
  margin: 1rem;
  height: 400px;
  min-width: 295px;
  border: 2px solid black;
}
.container:hover {
  box-shadow: 0 -4px 28px -5px #8a2379;
}

.outfit_name {
  padding: 1rem 1rem 0.5rem;
  text-decoration: underline;
}

.image_container {
  padding: 0 1rem 1rem;
  text-align: center;
}

.image {
  width: 10rem;
  border-radius: 10px;
  object-fit: scale-down;
}
