.container {
  text-align: center;
  margin: 1rem;
}

.button_container {
  margin: 1rem;
}

.button {
  padding: 10px;
  background-color: white;
  font-size: large;
  cursor: pointer;
  color: black;
  border-radius: 10px;
  border: 2px solid black;
  width: 100%;
}
.button:hover {
  background-color: #d590db;
  text-decoration: 2px underline black;
  text-underline-offset: 0.3rem;
}
