.container {
  text-align: center;
  margin: 1rem;
}

.add_outfit_button {
  padding: 5px;
  background-color: white;
  font-size: large;
  cursor: pointer;
}

.outfit_container {
  display: flex;
  flex-wrap: wrap;
}
