.container {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  text-align: center;
  font-size: large;
}

.delete_button,
.update_button {
  padding: 5px;
  color: black;
  border-radius: 5px;
  margin: 0.5rem;
  font-size: large;
  cursor: pointer;
  border: 2px solid black;
}
.delete_button {
  background-color: red;
}
.update_button {
  background-color: yellow;
}

.back_button {
  background-color: white;
  padding: 5px;
  color: black;
  border-radius: 5px;
  margin: 0.5rem 1rem;
  font-size: large;
  cursor: pointer;
  border: 2px solid black;
}
.back_button:hover {
  background-color: #d590db;
}

.delete_button:hover,
.update_button:hover {
  box-shadow: 0 -4px 28px -5px #8a2379;
}
