<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="\style.css" />
    <title>Index</title>
  </head>   

  <body>
    <h1>Outfits name</h1>

    <img src="https://i.pinimg.com/550x/99/98/f3/9998f39ee669edc07c04bee9312d95a4.jpg" alt="Avocado"> 
    
    <button class="back" type="button" onclick="history.back()" >Go back!</button>
      
  </body>

  </html>