* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Ananda;
  src: url(./assets/fonts/Ananda.ttf);
}

@font-face {
  font-family: Nature;
  src: url(./assets/fonts/Nature.ttf);
}

@font-face {
  font-family: Break;
  src: url(./assets/fonts/Break.ttf);
}

a {
  text-decoration: none;
  color: inherit;
}

.react-datepicker__input-container input {
  padding: 5px;
  font-size: large;
  width: 100%;
}
