@font-face {
  font-family: Ananda;
  src: url(./assets/fonts/Ananda.ttf);
}

@font-face {
  font-family: Nature;
  src: url(./assets/fonts/Nature.ttf);
}

@font-face {
  font-family: Break;
  src: url(./assets/fonts/Break.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 380px;
  margin: auto;
  background: linear-gradient(0.25turn, #7a47b9, #6438ca, #3b2db8);
}

h1,
h2,
h3,
h4 {
  font-family: Ananda, Arial, Helvetica, sans-serif;
}

button,
p b {
  font-family: Nature;
}

a {
  text-decoration: none;
  color: inherit;
}

.react-datepicker__input-container input {
  padding: 5px;
  font-size: large;
  width: 100%;
  border-radius: 5px;
}
