<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="\index.css" />
    <title>Index</title>
  </head>
  
  <body>
    <h1>Worn Out</h1>

    <!--Search Bar-->
    <div class="s1">
        <form class="inputSearch" method="post" action="/search">
          <input placeholder="Enter Details">
        </form>
    </div>

    <!--Outfit Image-->
    <div class="container">
      <h2>Sun God</h2>
      <form method="POST" action="/thisOutfit">
        <input type="image" src="https://www.boredpanda.com/blog/wp-content/uploads/2022/03/horrible-dresses-25-622749b4cfad9__700.jpg" name="ThisOutfit" class="Outfit" id="OutfitID" />
      </form>
    </div>

    <!--Outfit Image-->
    <div class="container">
      <h2>What?</h2>
      <form method="POST" action="/thisOutfit">
        <input type="image" src="https://i.pinimg.com/originals/6a/c3/fe/6ac3fe0fcc2108847c9e107a5b2305cd.jpg" name="ThisOutfit" class="Outfit" id="OutfitID" />
      </form>
    </div>

  </body>
  
 </html>